body {
    background: transparent !important;
}

.ui.bottom.attached.segment.active.tab {
    padding: 0;
    border: 0;
}

.message-out {
    background-color: #dcf8c5 !important;
    text-align: right !important;
}
