.wawi-ui {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 200 !important;

    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.3s linear;
}

.wawi-ui.wawi-ui-open {
    visibility: visible;
    opacity: 1;
}

.wawi-button {
    position: fixed;
    top: 100px;
    right: 0px;
    width: 50px;
    height: 50px;
    border-radius: 5px 0 0 5px;
    cursor: pointer;
    z-index: 200 !important;
    visibility: visible;
    opacity: 1;
    transition: visibility 0s, opacity 0.3s linear;
}

.wawi-button-hidden {
    visibility: hidden;
    opacity: 0;
}

.wawi-approot-blur {
    filter: blur(6px);
}
