.wawi-ui {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 200 !important;

    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.3s linear;
}

.wawi-ui.wawi-ui-open {
    visibility: visible;
    opacity: 1;
}

.wawi-button {
    padding: 13px;
    margin-top: 3px;
    width: 25px;
    height: 25px;
    cursor: pointer;
    visibility: visible;
    opacity: 1;
    transition: visibility 0s, opacity 0.3s linear;
}

.wawi-button-hidden {
    visibility: hidden;
    opacity: 0;
}

.wawi-approot-blur {
    filter: blur(6px);
}
